{% block category_characteristics_widget %}
    <div class="row chars_sortable">
        <h1>Характеристики</h1>
        <div class="row chars_sortable">
            <h1>Характеристики</h1>
            {% for headGroup, forms in headGroups %}
                <div class="col-md-6">
                    <input type="text" value="{{ headGroup }}" {{ loop.first?'readonly':'' }} class="form-control class_title"/>
                    {% if not loop.first %}
                        <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
                    {% endif %}
                    <div class="sortable list-group well">
                        {% for fields in forms %}
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-transfer"></span>
                                {{ form_widget(fields.characteristic) }}
                                {{ form_widget(fields.headGroup) }}
                                {{ form_widget(fields.orderIndex) }}
                                <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        {% endfor %}
                        <div></div>
                        <button class="btn btn-info btn-sm add_param" type="button">Добавить характеристику</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button class="add_new btn btn-info" type="button">Добавить группу</button>
        </div>
    </div>
{% endblock %}