{% block category_characteristic_row %}
    <div class="list-group-item {{ not valid?'has-error' }}">
        {{ form_errors(form) }}
        {{ form_errors(form.characteristic) }}
        {{ form_errors(form.headGroup) }}
        <span class="glyphicon glyphicon-transfer"></span>
        {{ form_widget(form.characteristic) }}
        <div class="hidden headGroup">{{ form_widget(form.headGroup) }}</div>
        <div class="hidden orderIndex">{{ form_widget(form.orderIndex) }}</div>
        <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
{% endblock category_characteristic_row %}

{% block category_characteristics_row %}
    <label for="characteristics">Характеристики</label>
    <div id="characteristics" class="row chars_sortable" data-prototype="{{ form_row(prototype)|e }}">
        <div id="characteristicGroups" class="row">
            {% for headGroup, forms in headGroups %}
                <div class="col-md-6">
                    <input type="text" value="{{ headGroup }}" {{ loop.first?'readonly':'' }}
                           placeholder="Название группы" class="form-control class_title" name="headGroup"/>
                    {% if not loop.first %}
                        <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span>
                        </button>
                    {% endif %}
                    <div class="sortable list-group well">
                        {% for field in forms %}
                            {{ form_row(field) }}
                        {% endfor %}
                        <div></div>
                        <button class="btn btn-info btn-sm add_param" type="button">Добавить характеристику</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <button class="add_new btn btn-info" type="button">Добавить группу</button>
        </div>
    </div>
{% endblock %}