{% extends "::layout.html.twig" %}
{% block body_type %}expert{% endblock %}
{% block top_menu %}
    {{ knp_menu_render('ExpratingExpertBundle:Builder:expertMenu') }}
{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        <h3>Unpublished products</h3>
        <div>
            <ul>
                {% for product in products %}
                    <li>
                        <img src="{{ product.previewImage }}" alt="" height="20"/>
                        <span>{{ product.name }}</span>
                        <div><a href="{{ path("product_detail", {"slug":product.slug}) }}">Просмотр</a><a
                                    href="{{ path("expert_product", {"slug": product.slug}) }}">Редактировать</a></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}