{% extends 'layout.html.twig' %}
{% block title %}Профиль эксперта{% endblock %}
{% block body_type %}expert{% endblock %}

{% block content %}
    <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
        {% block breadcrumbs %}
            <a href="{{ path("homepage") }}">Главная</a> →
            <a href="{{ path("experts_detail", {"username": app.user.username}) }}">Профиль</a>
        {% endblock %}
    </div>

    {% block profile_body %}
    {% endblock %}
{% endblock %}
{% block sidebar_right %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/external/themes/default/style.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}