{% extends 'Profile/user.html.twig' %}
{% block title %}Доступные категории{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path("expert_categories") }}">Список доступных категорий</a>
    {% if category %}
        → <a href="{{ path("expert_categories", {"slug": category.slug}) }}">{{ category.name }}</a>
    {% endif %}
{% endblock %}
{% block profile_body %}
    <h1>Список доступных категорий</h1>
    <div class="col-md-4">
        <div id="treeCategory"></div>
    </div>
    <div class="col-md-8 history_category">
        {{ include("Expert/part.html.twig") }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include("_include/Category/_jsTree.html.twig", {'categories': user.categories, 'category': category, 'treeId': 'treeCategory'}) }}
{% endblock %}