{# @controller AppBundle:PartnerProduct:list #}
<div class="search__items-title">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <div class="col-md-5">
                    <span class="name">Название товара</span>
                </div>
                <div class="col-md-3">
                    <span class="name">Фирма</span>
                </div>
                <div class="col-md-2">
                    <span class="name">Цена</span>
                </div>
                <div class="col-md-2">
                    <span class="name">Действия</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion" data-url="{{ path('import_partner_product', {"slug": product}) }}">
    {% for partnerProduct in partnerProducts %}
        <div class="panel panel-default base__item">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse{{ partnerProduct.hash }}">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="partner-product-preview"
                                 src="{{ partnerProduct.pictures[0]|default('http://placehold.it/20x20') }}"
                                 alt=""
                                 align="left">
                            <span>{{ partnerProduct.name|raw }}</span>
                        </div>
                        <div class="col-md-3">{{ partnerProduct.company|raw }}</div>
                        <div class="col-md-2">
                            <del>{{ partnerProduct.oldPrice }}</del> {{ partnerProduct.price }}</div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse{{ partnerProduct.hash }}" class="panel-collapse collapse">
                <div class="row">
                    <div class="panel-body">
                        <div class="col-md-6 images">
                            <div class="row text-center ">
                                <button type="button" class="btn btn-info image-import-all"><span
                                            class="glyphicon glyphicon-import"></span>Импортировать все
                                </button>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    {% for picture in partnerProduct.pictures %}
                                        <div class="col-sm-4 partner-picture{% if picture in product.importedImages %} disable{% endif %}">
                                            <img class="partner-product-picture" src="{{ picture }}" alt="">
                                            <button type="button" class="btn btn-info btn-xs image-zoom-in">
                                                <span class="glyphicon glyphicon-zoom-in"></span></button>
                                            <button type="button" class="btn btn-info btn-xs image-import"><span
                                                        class="glyphicon glyphicon-import"></span></button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 params">
                            <div class="row text-center ">
                            </div>
                            <ul class="params__list list-group">
                                {% for paramName, param in partnerProduct.params %}
                                    <li class="list-group-item">
                                        <div class="col-md-5">
                                            <span class="params__list-title">{{ paramName }}</span>
                                        </div>
                                        <div class="col-md-5">
                                            <span class="params__list-value">{{ param }}</span>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="info__text">
                        {{ partnerProduct.description }}
                    </p>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-md-4"><strong>Категория:</strong></div>
                            <div class="col-md-8">{{ partnerProduct.categoryName }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-4"><strong>Полное название категории:</strong></div>
                            <div class="col-md-8">{{ partnerProduct.categoryPath }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-4"><strong>Категория в яндекс маркете:</strong></div>
                            <div class="col-md-8">{{ partnerProduct.marketCategory }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-4"><strong>Брэнд:</strong></div>
                            <div class="col-md-8">{{ partnerProduct.vendor }}</div>
                        </li>
                    </ul>
                    <div class="row price__box text-center">
                        <div class="col-md-6">Старая цена: {{ partnerProduct.oldPrice }}</div>
                        <div class="col-md-6">Новая цена: {{ partnerProduct.price }}</div>
                    </div>
                    <div class="panel panel-default text-center">
                        <div class="panel-heading ">
                            <span class="outside__link">{{ partnerProduct.url }}</span>
                        </div>
                        <div class="panel-body">
                            <a href="{{ partnerProduct.url }}"
                               target="_blank" class="btn btn-success"><span
                                        class="glyphicon glyphicon-share"></span> Внешняя
                                ссылка</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger text-center">Ничего не найдено</div>
    {% endfor %}
</div>
