{% extends "::layout.html.twig" %}
{% block body_type %}expert{% endblock %}
{% block top_menu %}
    {{ knp_menu_render('ExpratingExpertBundle:Builder:expertMenu') }}
{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("experts_list") }}">Наши эксперты</a> →
        </div>
        {% set expert = app.user %}
        <h1>{{ expert.fullName }}</h1>

        <div class="expert-page-wrapper">
            <h3>Категории</h3>
            <ul>
                {% for category in expert.categories %}
                    <li>
                        <a href="{{ path('expert_category_products', {'slug': category.slug}) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}