{% extends "::layout.html.twig" %}
{% block body_type %}expert{% endblock %}
{% block top_menu %}
    {{ knp_menu_render('ExpratingExpertBundle:Builder:expertMenu') }}
{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("experts_list") }}">Наши эксперты</a> →
        </div>
        {% set expert = app.user %}
        <h1>{{ expert.fullName }}</h1>

        <div class="expert-page-wrapper">
            <div class="right right-side">
                <h3>Найденные товары</h3>
                <ul>
                    {% for product in products %}
                        <li>
                            <img src="{{ product.previewImage }}" alt="" height="40"/>
                            {{ product.name }}
                            <a href="{{ path('expert_product', {'slug':product.slug}) }}">Взять на редактирование</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <h3>Категории</h3>
            <ul>
                {% for category in expert.categories %}
                    <li {% if category == currentCategory %}class="current"{% endif %}>
                        <a href="{{ path('expert_category_products', {'slug': category.slug}) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h3>Поиск</h3>

            <div></div>

            <h3>Характеристики</h3>

            <div>{{ form(form) }}</div>
        </div>

    </div>
{% endblock %}