{% extends '_layout/_profile.html.twig' %}
{% block title %}Доступные категории{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path("category_admin_categories") }}">Доступные категории редактировать</a>
{% endblock %}
{% block profile_body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Категории</h1>
            <div id="treeCategory" class="categories well"></div>
        </div>
        <div class="col-md-7 history_category">
            {{ include("CategoryAdmin/categoriesPart.html.twig") }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/external/colorbox.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Bridge.js_tree_data = [
            {{ include("_include/Category/_jsTree.json.twig") }}
        ];
    </script>
    {% javascripts '@category_admin_categories_js' output='bundles/js/*' %}
        <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2entity').on('select2:selecting', function (data) {
                console.log(data);
            });
            $('.sortable').sortable({connectWith: '.sortable', items: '> div'});
            $(document).on('click', 'button.add_new', function () {
                $('.chars_sortable').append('<div class="col-md-6">\
                <input type="text" value="" placeholder="Название группы" class="form-control class_title"/>\
                <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>\
                <div class="sortable list-group well">\
                    <div></div>\
                    <button class="btn btn-info btn-sm add_param" type="button">Добавить характеристику</button>\
                </div>\
                </div>');
                $('.sortable').sortable({connectWith: '.sortable', items: '> div'});
            });
            $(document).on('click', 'button.add_param', function () {
                var $this = $(this);
                $this.before('<div class="list-group-item">\
                        <span class="glyphicon glyphicon-transfer"></span>\
                        <select class="form-control" name="sdf" id="sdf">\
                        <option value="sdf">Брэнд</option>\
                        </select>\
                        <button class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>\
                        </div>');
            });
            $(document).on('click', 'button.remove', function () {
                $(this).parent().remove();
            })
        });
    </script>
{% endblock %}