{% extends '_layout/_profile.html.twig' %}
{% block title %}Доступные категории{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path("category_admin_categories") }}">Доступные категории редактировать</a>
{% endblock %}
{% block profile_body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Категории</h1>
            <div id="treeCategory" class="categories well"></div>
        </div>
        <div class="col-md-7 history_category">
            {{ include("CategoryAdmin/categoriesPart.html.twig") }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/external/colorbox.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Bridge.js_tree_data = [
            {{ include("_include/Category/_jsTree.json.twig") }}
        ];
    </script>
    {% javascripts '@category_admin_categories_js' output='bundles/js/*' %}
    <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2entity').on('select2:selecting', function (data) {
                console.log(data);
            });
        });
    </script>
{% endblock %}