{% extends "layout.html.twig" %}
{% block body_type %}experts{% endblock %}
{% block content %}
    <div class="col-md-4">
        <h1>Эксперты</h1>

        <div class="experts-wrapper">
            <ul>
                {% for expert in pagination %}
                    <li class="expert-item {{ user == expert ? "well":'' }}">
                        <div class="expert-img-wrapper">
                            {{ include("_include/User/_imageList.html.twig", {'expert': expert}) }}
                        </div>
                        <div class="expert-name">
                            <a href="{{ path("admin_experts", {"page":page, "username": expert.username}) }}"><span>{{ expert.fullName }}</span></a>
                            {{ expert.caption }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="col-md-8">
        <h1>{{ user.username }}</h1>
        {{ form(form) }}
    </div>
{% endblock %}