{% extends '_layout/_profile.html.twig' %}
{% block title %}Настройки импорта{% endblock %}
{% block profile_body %}
    <div class="col-md-6">
        <h1>Категории Exprating</h1>
        <button type="button" class="btn btn-success" onclick="create_node()">Создать</button>
        <button type="button" class="btn btn-warning" onclick="rename_node()">Переименовать</button>

        <div id="treeCategory" class="well height-full"></div>
    </div>
    <div class="col-md-6">
        <h1>Категории irecommend</h1>
        <button type="button" class="btn btn-info" onclick="deselect_all_import()">Снять выделение</button>
        <div id="treeCategoryImport" class="well height-full"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/external/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/external/jquery.scrollTo.min.js') }}"></script>
    <script type="text/javascript">
        var selected_by_event = false;
        //region Functions for create, change, move, rename left tree. Exprating tree
        function create_node() {
            var ref = $('#treeCategory').jstree(true),
                    sel = ref.get_selected();
            if (!sel.length) {
                return false;
            }
            sel = sel[0];
            sel = ref.create_node(sel, {"type": "file", a_attr: {data_path: ''}, data: {created: true, actions: []}});
            if (sel) {
                ref.edit(sel);
            }
        }
        function rename_node() {
            var ref = $('#treeCategory').jstree(true),
                    sel = ref.get_selected();
            if (!sel.length) {
                return false;
            }
            sel = sel[0];
            ref.edit(sel);
        }
        function deselect_all_import() {
            $('#treeCategoryImport').jstree(true).deselect_all();
        }
        //endregion

        //region plugin jstree for custom render item. edit and follow links
        (function ($, undefined) {
            "use strict";
            var anchor = document.createElement('A');
            var span = document.createElement('span');
            anchor.href = '#';
            anchor.target = '_blank';
            span.className = 'glyphicon glyphicon-edit';
            anchor.appendChild(span);

            $.jstree.defaults.actions = $.noop;
            $.jstree.plugins.actions = function (options, parent) {
                this.redraw_node = function (obj, deep, callback, force_draw) {
                    obj = parent.redraw_node.call(this, obj, deep, callback, force_draw);
                    if (obj) {
                        var node = (this.get_node(obj));
                        for (var key in node.data.actions) {
                            var span_class = node.data.actions[key].span_class;
                            var url = node.data.actions[key].url;
                            var tmp = anchor.cloneNode(true);
                            tmp.href = url;
                            tmp.firstChild.className = span_class;
                            if (node.data.actions[key].text) {
                                tmp.firstChild.textContent = node.data.actions[key].text;
                            }
                            if (!url) {
                                obj.insertBefore(tmp.firstChild, obj.childNodes[2]);
                            } else {
                                obj.insertBefore(tmp, obj.childNodes[2]);
                            }
                        }
                    }
                    return obj;
                };
            };
        })(jQuery);

        //plugin for right tree, зеленый мелкий текст. Где указана связь до категории
        (function ($, undefined) {
            "use strict";
            var span = document.createElement('span');
            span.className = 'small text-success';

            $.jstree.defaults.linker = $.noop;
            $.jstree.plugins.linker = function (options, parent) {
                this.redraw_node = function (obj, deep, callback, force_draw) {
                    obj = parent.redraw_node.call(this, obj, deep, callback, force_draw);
                    if (obj) {
                        var node = (this.get_node(obj));
                        if (node.data.linker) {
                            var node_id = node.data.linker.node_id;
                            var selector = node.data.linker.selector;
                            var node_relation = $(selector).jstree(true).get_node(node_id);
                            console.log(node.data.linker);
                            if (node_relation) {
                                var tmp = span.cloneNode(true);
                                tmp.textContent = node_relation.a_attr.data_path;
                                obj.insertBefore(tmp, obj.childNodes[2]);
                            }
                        }
                    }
                    return obj;
                };
            };
        })(jQuery);
        //endregion plugins

        //region Left tree Exprating categoies.
        $('#treeCategory').jstree({
            core: {
                check_callback: true,
                data: [
                    {% for category in categories %}
                    {% set parent_slug = category.parent.slug|default('#') %}
                    {% if category.parent.slug|default('#') == 'root' %}{% set parent_slug = '#' %}{% endif %}
                    {
                        id: '{{ category.slug }}',
                        parent: '{{ parent_slug }}',
                        text: '{{ category.name|raw }}',
                        a_attr: {
                            href: '{{ path('category_admin_categories', {'slug': category.slug}) }}',
                            data_path: '{{ categoryAssociate[category.slug] }}',
                        },
                        data: {
                            actions: [
                                {
                                    span_class: "glyphicon glyphicon-edit",
                                    url: '{{ path('category_admin_categories', {'slug': category.slug}) }}',
                                },
                                {
                                    span_class: "glyphicon glyphicon-share",
                                    url: '{{ path("product_list", {"slug":category.slug}) }}'
                                },
                            ]
                        }
                    },
                    {% endfor %}
                ]
            },
            plugins: ['dnd', 'actions']
            //region Left tree select node. Ajax for change relation
        }).on('select_node.jstree', function (node, selected, event) {
            var selected_nodes = $('#treeCategoryImport').jstree(true).get_selected();
            if (selected_nodes.length && !selected_by_event) {
                var category_slug = selected.node.id;
                var category_text = selected.node.text;
                console.log(selected.node.text);

                var alias_category_id = selected_nodes[0];
                var node = $('#treeCategoryImport').jstree(true).get_node(alias_category_id);
                var old_path = selected.node.a_attr.data_path;
                //Confirmation for change relation
                if (confirm('Вы хотите поменять "' + old_path + '" на "' + selected.node.a_attr.data_path + '"')) {
                    //ajax to change relation, if no link, than create
                    $.ajax('{{ path('admin_import_settings_change') }}', {
                        method: "POST",
                        data: {category_slug: category_slug, alias_category_id: alias_category_id},
                        success: function (data) {
                            var html = '<div class="message-box alert-success">' +
                                    '<span class="close">X</span>' +
                                    '<p>Изменения успешно сохранены</p>' +
                                    '</div>';
                            $('div.alert-message').html(html);
                            setTimeout(function () {
                                $('div.alert-message').html('');
                            }, 2000);
                            node.data.linker.node_id = category_slug;
                            $('#treeCategoryImport').jstree(true).set_text(node, node.text);
                        }
                    });
                } else {
                    //revert select, if no confirm.
                    var dataRelation = node.data.linker.node_id;
                    $('#treeCategory').jstree(true).deselect_all();
                    $('#treeCategory').jstree(true).close_all();
                    if (dataRelation) {
                        selected_by_event = true;
                        $('#treeCategory').jstree(true).select_node(dataRelation);
                        $('#treeCategory').stop(true).scrollTo('#' + dataRelation);
                        $('#treeCategory').jstree(true).open_node(dataRelation);
                    }
                }
            }
            selected_by_event = false;
            //endregion seleect node in left tree. EXPRATING CATEGORIES

            //region RENAME exprating category.
        }).on('rename_node.jstree', function (event, entity) {
            var node = entity.node;
            if (!node.data.created) {
                if (confirm('Сохранить новое имя ' + entity.text + '?')) {
                    node.a_attr.data_path = node.a_attr.data_path.replace(entity.old, entity.text);
                    $.ajax({
                        url: '{{ path("admin_category_rename") }}',
                        method: 'post',
                        data: {
                            name: entity.text,
                            slug: node.id
                        },
                        success: function (data) {
                            console.log('renamed');
                            console.log(data);
                            node.a_attr.data_path = data.path;
                            $('#treeCategoryImport').jstree(true).refresh();
                        }
                    });
                } else {
                    $('#treeCategory').jstree(true).set_text(node, entity.old);
                }
            } else {
                $.ajax({
                    url: '{{ path("admin_category_create") }}',
                    method: 'post',
                    data: {
                        name: entity.text,
                        parent: node.parent
                    },
                    success: function (data) {
                        console.log('Created');
                        console.log(data);
                        node.a_attr.data_path = data.path;
                        node.data = {
                            actions: [
                                {
                                    span_class: "glyphicon glyphicon-edit",
                                    url: data.edit_url,
                                },
                                {
                                    span_class: "glyphicon glyphicon-share",
                                    url: data.show_url,
                                },
                            ]
                        };
                        $('#treeCategory').jstree(true).set_id(node, data.slug);
                        $('#treeCategory').jstree(true).set_text(node, entity.text);
                    }
                });
                node.data.created = false;
            }
            //endregion rename
        }).on('move_node.jstree', function (e, data) {
            //move EXPRATING category
            console.log(data);
            var node = data.node;
            if (!node.data.failover) {
                $.ajax({
                    url: '{{ path("admin_category_move") }}',
                    methot: 'post',
                    data: {
                        category: data.node.id,
                        position: data.position,
                        parent: data.parent,
                    },
                    success: function (data) {
                        node.a_attr.data_path = data.path;
                        $('#treeCategoryImport').jstree(true).refresh();
                        var html = '<div class="message-box alert-success">' +
                                '<span class="close">X</span>' +
                                '<p>Изменения успешно сохранены</p>' +
                                '</div>';
                        $('div.alert-message').html(html);
                        setTimeout(function () {
                            $('div.alert-message').html('');
                        }, 2000);
                    },
                    error: function () {
                        var html = '<div class="message-box alert-danger">' +
                                '<span class="close">X</span>' +
                                '<p>Ошибка во время сохранения. Изменения отменены</p>' +
                                '</div>';
                        $('div.alert-message').html(html);
                        setTimeout(function () {
                            $('div.alert-message').html('');
                        }, 2000);
                        node.data.failover = true;
                        $('#treeCategory').jstree(true).move_node(node, data.old_parent, data.old_position);
                    }
                })
            } else {
                node.data.failover = false;
            }
        }).on('loaded.jstree', function(){
            $('#treeCategoryImport').jstree('refresh');
        });
        //endregion
        //endregion
        //Right tree IRECOMMEND
        $('#treeCategoryImport').jstree({
            core: {
                data: [
                    {% for category in categoriesImport %}
                    {% set categoryName = '' %}
                    {% set categoryNameHtml = '' %}
                    {% if category.aliasCategory %}
                    {% set categoryNameHtml = '(<span class="small text-success">' ~ categoryAssociate[category.aliasCategory.categoryExpratingId]|default(null) ~ '</span>)' %}
                    {% set categoryName = categoryAssociate[category.aliasCategory.categoryExpratingId]|default(null) %}
                    {% endif %}
                    {
                        id: '{{ category.id }}',
                        parent: '{{ category.parent.id|default('#') }}',
                        text: '{{ category.name|raw }}',
                        opened: true,
                        a_attr: {
                            href: '#'
                        },
                        state: {
                            opened: true
                        },
                        data: {
                            linker: {
                                selector: '#treeCategory',
                                node_id: '{{ category.aliasCategory.categoryExpratingId|default(null) }}'
                            },
                            actions: [
                                {
                                    span_class: 'glyphicon glyphicon-share',
                                    url: '{{ category.url|raw }}'
                                }
                            ]
                        }
                    },
                    {% endfor %}
                ]
            },
            plugins: ['linker', 'actions']
            //IRECOMMEND select node
        }).on('select_node.jstree', function (node, selected, event) {
            var dataRelation = selected.node.data.linker.node_id;
            $('#treeCategory').jstree(true).deselect_all();
            $('#treeCategory').jstree(true).close_all();
            if (dataRelation) {
                selected_by_event = true;
                $('#treeCategory').jstree(true).select_node(dataRelation);
                $('#treeCategory').stop(true).scrollTo('#' + dataRelation);
                $('#treeCategory').jstree(true).open_node(dataRelation);
            }
        });
    </script>
{% endblock %}