{% trans_default_domain 'FOSUserBundle' %}

<div class="register">
    <div class="heading">{% trans %}Регистрация{% endtrans %}</div>

    {{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 'class': 'fos_user_registration_register' } }) }}
        {{ form_widget(form) }}
        <div class="submit">
            <button class="form" type="submit">{{ 'registration.submit'|trans }}</button>
        </div>
        <div class="links">
            <a href="{{ path('fos_user_security_login') }}">Логин</a>
        </div>
    {{ form_end(form) }}
</div>
