{% extends '_layout/_profile.html.twig' %}
{% block title %}Мои опубликованные обзоры{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path(app.request.get('_route')) }}">{{ block('title') }}</a>
    {% if category %}
        → <a href="{{ path(app.request.get('_route'), {"slug": category.slug}) }}">{{ category.name }}</a>
    {% endif %}
{% endblock %}
{% block profile_body %}
    <h1>{{ block('title') }}</h1>

    <div class="col-md-4">
        <div id="treeCategory"></div>
    </div>
    <div class="col-md-8 history_category">
        {{ include("Expert/part.html.twig") }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Bridge.js_tree_data = [
            {{ include("_include/Category/_jsTree.json.twig", {'categories': categories, 'category': category}) }}
        ];
    </script>
    {% javascripts '@layout_expert_items_js' output='bundles/js/*'%}
    <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}