<li>
    <a href="{{ path('product_detail', {'slug':product.slug}) }}">
        <div class="sticker-rating">{{ product.rating }}</div>
        {% block additional %}{% endblock %}
        <div class="img-wrapper" style="background-image: url({{ product.previewImage|default('/images/default.jpeg')|imagine_filter('product_list_filter') }});"></div>
        <div class="sticker-title">{{ product.name }}</div>
        <div class="sticker-price">от {{ product.minPrice }} <span class="sign_ruble">p<span>уб.</span></span></div>
        <div class="sticker-category">{{ product.category.name }}</div>
    </a>

    <div class="sticker-icons">
        <a href="" data-toggle="tooltip" title="В покупки">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span>В покупки</span>
        </a>
        <a href="" data-toggle="tooltip" title="Комментарии">
            <span class="glyphicon glyphicon-comment"></span>
            <span>Комментарии</span>
        </a>
    </div>
    {% block buttons %}
        <a class="btn btn-default btn-sm sticker-where" href="#" role="button">
            <span class="glyphicon glyphicon-road"></span>
            Где купить
        </a>
    {% endblock %}
</li>