        {% block form_start_block %}{% endblock %}
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("homepage") }}">Главная</a>
            {{ breadcrumbs(product.category)|raw }}
            {% block edit_category %}{% endblock %}
        </div>
        {% block curator_decision %}
            {% if is_granted('MODERATE', product) %}
                {{ render(controller('AppBundle:Curator:decisionEdit', {'slug': product.slug})) }}
            {% endif %}
            {% for flash_message in app.session.flashbag.get('flash.curator.decision.info') %}
                <span id="flash_info_{{ loop.index }}" class="label label-info">{{ flash_message }}</span>
                <script type="text/javascript">setTimeout(function () {
                        $('#flash_info_{{ loop.index }}').remove()
                    }, 5000)</script>
            {% endfor %}
        {% endblock %}
        {% block curator_change_expert %}
            {% if is_granted('CHANGE_EXPERT', product) %}
                <div class="row edit-menu">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="btn-group">
                            {% block change_expert_buttons %}
                                <a href="{{ path('curator_product_change_expert', {'slug': product.slug}) }}" class="btn btn-info">Сменить эксперта</a>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% if is_granted('EXPERTISE', product) %}
            <div class="row edit-menu">
                <div class="col-md-4 col-md-offset-4">
                    <div class="btn-group">
                        {% block edit_buttons_label %}
                            {% if product.expertUser %}
                                <a class="btn btn-info" href="{{ path("product_edit", {"slug": product}) }}">
                                    Редактировать
                                </a>
                            {% else %}
                                <a class="btn btn-info" href="{{ path("product_edit", {"slug": product}) }}">Взять на
                                    редактирование</a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% block notifications %}
            {% if product.reservedAt %}
                <span class="label label-info">До окончания резервирования осталось {% transchoice product.daysLeft %}
                    %count% день|%count% дня|%count% дней
                    {% endtranschoice %}</span>
            {% endif %}
        {% endblock %}

        <h1>{{ product.name }}</h1>

        {% block expert_logo %}
            <div class="expert-wrapper">
                <div class="expert-img-wrapper">
                    {{ include("_include/User/_imageList.html.twig", {'expert': product.expertUser}) }}
                </div>
                <div class="expert-name">
                    Экспертное мнение
                    <span>{{ product.expertUser.fullName | default("Пусто") }}</span></div>
            </div>
        {% endblock %}

        <div class="carousel-wrapper" style="width: 300px; height: 300px; float: left">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"
                            class="{{ image.isMain ? 'active':'' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in product.images %}
                        <div class="item {{ image.isMain ? 'active':'' }}">
                            <div class="img-wrapper" style="background-image: url({{ image.filename|imagine_filter('product_filter') }});"></div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                            class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                            class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>


        <div class="rating-wrapper">

            <ul class="media-list">
                <li class="media">
                <span class="pull-right">
                    <span class="main-label">{{ product.rating }}</span>
                </span>

                    <div class="media-body">
                        <h3>Общая оценка</h3>
                    </div>
                </li>
                {% set rating_labels = [product.category.ratingSettings.rating1label,
                product.category.ratingSettings.rating2label,
                product.category.ratingSettings.rating3label,
                product.category.ratingSettings.rating4label] %}
                {% set rating_list = [product.rating1, product.rating2, product.rating3, product.rating4] %}

                {% block ratings %}
                    {% for rating in rating_list %}
                        <li class="media">
                        <span class="pull-right">
                            <span style="padding: 10px; font-size: 1.4em;">{% block rating_value %}{{ rating }}{% endblock %}</span>
                        </span>

                            <div class="media-body">
                                <div class="media-heading">{{ rating_labels[loop.index0] }}</div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="{{ rating }}"
                                         aria-valuemin="0" aria-valuemax="100" style="width: {{ rating }}%">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endblock %}
            </ul>
        </div>


        <div style="margin-bottom: 20px;">

            <div class="plus-wrapper">
                <div style="padding: 0 0 0 20px;">
                    <h3>Достоинства</h3>
                    <ul>
                        {% block advantages %}
                            {% for advantage in product.advantages %}
                                <li>{{ advantage }}</li>
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>

            <div class="minus-wrapper">
                <h3>Недостатки</h3>
                <ul>
                    {% block disadvantages %}
                        {% for disadvantage in product.disadvantages %}
                            <li>{{ disadvantage }}</li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </div>
        </div>

        <div style="clear: both"></div>

        <div class="tabs-wrapper">

            <div class="tabs-container">
                <div class="tabs-container-inner clearfix">

                    <ul class="nav nav-tabs" style="clear: both">
                        <li class="active"><a href="#test" data-toggle="tab">Заключение</a></li>
                        <li><a href="#props" data-toggle="tab">Характеристики</a></li>
                        <li><a href="#maintainer" data-toggle="tab">Изготовитель</a></li>
                        <li><a href="#comments" data-toggle="tab">Отзывы</a></li>
                        <li><a href="#buy" data-toggle="tab">Где купить</a></li>
                    </ul>

                    <div class="tabs-content">
                        <div class="tab-pane fade active in" id="test">
                            {% block expert_opinion %}
                                {{ product.expertOpinion | markdown }}
                            {% endblock %}
                        </div>
                        <div class="tab-pane fade" id="buy">
                            <h3>Где купить</h3>
                            <table class="where-by">
                                <tbody>
                                {% for productShopPrice in product.productShopPrices %}
                                    <tr>
                                        <td><img src="{{ productShopPrice.shop.image }}"></td>
                                        <td><a href="">{{ productShopPrice.shop.name }}</a></td>
                                        <td>{{ productShopPrice.price }} <span
                                                    class="sign_ruble">p<span>уб.</span></span></td>
                                        <td><a class="btn btn-primary btn-md" role="button"><span
                                                        class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="comments">
                            <h3>Отзывы покупателей</h3>

                            <div class="comments-summary">
                                {% transchoice product.feedbacks.count %}
                                %count% отзыв|%count% отзыва|%count% отзывов
                                {% endtranschoice %}
                                <span class="comments-summary-plus"><span class="glyphicon glyphicon-thumbs-up"></span> 2</span>&nbsp;
                                <span class="comments-summary-minus"><span
                                            class="glyphicon glyphicon-thumbs-down"></span> 1</span>

                                <a class="btn btn-primary btn-md" style="float:right" role="button"><span
                                            class="glyphicon glyphicon-comment"></span> Написать отзыв</a>
                            </div>
                            <ul class="comments">
                                {% for feedback in product.feedbacks %}
                                    <li class="comment-wrapper">
                                        <h4>{{ feedback.fullName }}</h4>

                                        <div class="comment-content">
                                            <h5>Достоинства</h5>

                                            <div>{{ feedback.advantages }}</div>
                                            <h5>Недостатки</h5>

                                            <div>{{ feedback.disadvantages }}</div>
                                            <h5>Комментарии</h5>

                                            <div>{{ feedback.comment }}</div>
                                        </div>
                                        <div class="comment-date">{{ feedback.createdAt|date('d.m.Y') }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="props">
                            <div id="props-wrapper">
                                <h2 class="props-title">Характеристики</h2>
                                {% block characteristics %}
                                    {{ productCharacteristics(product.productCharacteristics)|raw }}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="maintainer">
                            <h3>Изготовитель</h3>

                            <div class="logo-wrapper" style="float: left; height: 200px; margin-right: 30px;">
                                <img src="{{ product.manufacturer.image|default('http://placehold.it/150x58') }}">
                            </div>
                            <div>
                                <h4>{{ product.manufacturer.name|default('N/A') }}</h4>

                                <div class="maintainer-text">
                                    {{ product.manufacturer.description|default('N/A') }}
                                </div>
                                <div><a href="">Отзывы</a> 0 | <a href="">Товары</a> 309</div>

                            </div>
                        </div>
                    </div>

                    <div class="comments-wrapper">
                        <a name="comments"></a>

                        <h3>Обсуждение товара</h3>
                        <ul>
                            {% for comment in product.publishedComments %}
                                <li class="comment-item">
                                    <div class="comment-date">
                                        {{ comment.createdAt|date('d.m.Y') }}
                                    </div>
                                    <div class="comment-author">
                                        {{ comment.fullName }}
                                    </div>
                                    <div class="comment-text">
                                        {{ comment.message }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% block form_comment_block %}
                            <div class="comment-form-wrapper">

                                <h4>Оставьте комментарий о продукте {{ product.name }}</h4>
                                {% for flash_message in app.session.flashbag.get('flash.comment.message') %}
                                    <div id="flash_info_{{ loop.index }}" class="well alert-success">{{ flash_message }}</div>
                                    <script type="text/javascript">setTimeout(function () {
                                            $('#flash_info_{{ loop.index }}').remove()
                                        }, 5000)</script>
                                {% endfor %}
                                {% form_theme formComment '/Form/form_comment_custom_layout.html.twig' %}
                                {{ form(formComment) }}
                            </div>
                        {% endblock %}
                    </div>

                </div>
            </div>

            <div class="sidebar-left">
                <div class="price-from">
                    Цена от: {{ product.minPrice }} <span class="sign_ruble">p<span>уб.</span></span>
                </div>
                {% block sidebar_left_after_price %}{% endblock %}
                {% block similar_products %}
                    <div class="block similar-tovar-wrapper">
                        <div class="content">
                            <h3>Похожие товары</h3>
                            <ul class="links-wrapper">
                                {% for similarProduct in similarProducts %}
                                    <li class="links-item">
                                        <a href="{{ path('product_detail', {'slug': similarProduct.slug}) }}">
                                            <img src="{{ similarProduct.previewImage }}">

                                            <div class="link-title">{{ similarProduct.name }}</div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        {% block form_end_block %}{% endblock %}