{% extends 'layout.html.twig' %}
{% block title %}{{ product.name }}{% endblock %}
{% block meta %}
    <meta name="log-visit" content="{{ path("log_visit_product", {"slug": product.slug}) }}">
{% endblock %}
{% block body_type %}product{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        {{ include(":Product:detailPart.html.twig") }}
    </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@product_detail_js' output='bundles/js/*' %}
        <script src="{{ asset(asset_url) }}" type="text/javascript" async="async"></script>
    {% endjavascripts %}
    {% if is_granted('ROLE_EXPERT') %}
        {% javascripts '@product_edit_js' output='bundles/js/*'%}
            <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}