{% extends ':Product:detailPart.html.twig' %}
{% block edit_category %}
    {% if is_granted('CATEGORY_CHANGE', product) %}
        <a href="{{ path('product_choose_category', {'slug':product.slug}) }}" class="btn btn-xs btn-info" type="button"
           data-toggle="tooltip" title="Изменить категорию">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    {% endif %}
    {% for peopleGroup in product.peopleGroups %}
        {% if peopleGroup.slug == constant('AppBundle\\Entity\\PeopleGroup::SLUG_WOMAN') %}
            {% set faClass = 'fa-female' %}
        {% elseif peopleGroup.slug == constant('AppBundle\\Entity\\PeopleGroup::SLUG_MAN') %}
            {% set faClass = 'fa-male' %}
        {% elseif peopleGroup.slug == constant('AppBundle\\Entity\\PeopleGroup::SLUG_CHILD') %}
            {% set faClass = 'fa-child' %}
        {% else %}
            {% set faClass = 'fa-group' %}
        {% endif %}
        <i class="fa {{ faClass }}" data-toggle="tooltip" title="{{ peopleGroup.name }}"></i>
    {% endfor %}
{% endblock %}
{% block form_start_block %}
    {% form_theme form 'Form/form_product_edit.html.twig' %}

    {{ form_start(form) }}
{% endblock %}
{% block edit_buttons_label %}
    <a class="btn btn-info" href="{{ path("product_detail", {"slug": product}) }}">Просмотр</a>
    {{ form_widget(form.save) }}
    {% if is_granted('PUBLISH', product) %}
        {{ form_widget(form.publish) }}
    {% elseif product.isEnabled %}
        {{ form_widget(form.publish, {'label':'Опубликован', 'attr':{'disabled':true}}) }}
    {% else %}
        {{ form_widget(form.publish, {'label':'Ожидает решения куратора', 'attr':{'disabled':true}}) }}
    {% endif %}
{% endblock %}
{% block notifications %}
    {% if product.reservedAt %}
        <span class="label label-info">До окончания резервирования осталось {% transchoice product.daysLeft %}
            %count% день|%count% дня|%count% дней
            {% endtranschoice %}</span>
    {% endif %}
    {% for flash_message in app.session.flashbag.get('flash.expertise.message') %}
        <span id="flash_{{ loop.index }}" class="label label-success">{{ flash_message }}</span>
        <script type="text/javascript">setTimeout(function () {
                $('#flash_{{ loop.index }}').remove()
            }, 5000)</script>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('flash.expertise.error_message') %}
        <span id="flash_error_{{ loop.index }}" class="label label-danger">{{ flash_message }}</span>
        <script type="text/javascript">setTimeout(function () {
                $('#flash_error_{{ loop.index }}').remove()
            }, 5000)</script>
    {% endfor %}
{% endblock %}

{% block ratings %}
    {% set rating_list = [form.rating1, form.rating2, form.rating3, form.rating4] %}

    {% set rating_labels = [product.category.ratingSettings.rating1label,
    product.category.ratingSettings.rating2label,
    product.category.ratingSettings.rating3label,
    product.category.ratingSettings.rating4label] %}
    {% for rating in rating_list %}
        <li class="media">
            <span class="pull-right">
            <span style="padding: 10px; font-size: 1.4em;">{% block rating_value %}{{ form_widget(rating) }}{% endblock %}</span>
            </span>

            <div class="media-body">
                <div class="media-heading">{{ rating_labels[loop.index0] }}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ rating.vars.value }}"
                         aria-valuemin="0" aria-valuemax="100" style="width: {{ rating.vars.value }}%">
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
{% endblock %}

{% block advantages %}
    {% for advantage in form.advantages %}
        <li>{{ form_widget(advantage) }}
            <button data-type="remove" class="btn btn-error label label-danger" type="button">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </li>
    {% endfor %}
    <li>
        <button data-type="add" data-prototype="<li><input name='product[advantages][]' required='required' class='form-control' type='text'>
        <button data-type='remove' class='btn btn-error label label-danger' type='button'>
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </li>" class="btn btn-info" type="button">Добавить
        </button>
    </li>
{% endblock %}
{% block disadvantages %}
    {% for disadvantage in form.disadvantages %}
        <li>{{ form_widget(disadvantage) }}
            <button data-type="remove" class="btn btn-error label label-danger" type="button">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </li>
    {% endfor %}
    <li>
        <button data-type="add" data-prototype="<li><input name='product[disadvantages][]' required='required' class='form-control' type='text'>
        <button data-type='remove' class='btn btn-error label label-danger' type='button'>
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </li>" class="btn btn-info" type="button">Добавить
        </button>
    </li>
{% endblock %}
{% block expert_opinion %}
    <h3>{{ form_label(form.expertOpinion) }}</h3>
    <span class="label label-info">Используется разметка markdown</span>
    <button
            id="opinion_preview"
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExpertOpinion"
            aria-expanded="false"
            aria-controls="collapseExample">
        Просмотр <span class="caret"></span>
    </button>
    <div class="collapse" id="collapseExpertOpinion">
        <div class="well">
            {{ product.expertOpinion|markdown }}
        </div>
    </div>

    {{ form_widget(form.expertOpinion, {'attr':{'rows':20}}) }}
    <h3>{{ form_label(form.expertComment) }}</h3>
    {{ form_widget(form.expertComment, {'attr':{'rows':7}}) }}
{% endblock %}
{% block characteristics %}
    {% for fields in form.productCharacteristics %}
        <div data-index="{{ loop.index0 }}" data-type="characteristic" class="row form-group">
            <div class="col-sm-4">{{ form_widget(fields.characteristic) }}</div>
            <div class="col-sm-4">{{ form_widget(fields.value) }}</div>
            <div class="col-sm-3">{{ form_widget(fields.headGroup) }}</div>
            <div class="col-sm-1">
                <button data-type="remove-ch" class="btn btn-error btn-danger" type="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-info" data-type="add-ch" type="button">Добавить</button>
    <button id="add_characteristic" type="button"
            data-url="{{ path('characteristic_create', {"category_slug":product.category.slug, "product_slug":product.slug}) }}"
            class="btn btn-info">Добавить новую характеристику
    </button>
{% endblock %}
{% block form_comment_block %}{% endblock %}
{% block delete_button %}
    <a href="" class="btn btn-danger btn-xs image-remove" data-toggle="tooltip" title="Удалить"
       data-image="{{ loop.index0 }}">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
{% endblock %}
{% block sidebar_left_after_price %}
    <div>
        <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('gallery') }}" multiple/>
        <input type="hidden" name="product_id" value="{{ product.id }}"/>
        <div class="progress">
            <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% Complete</span>
            </div>
        </div>
        <div class="row product-images">
            {% for image in product.images %}
                <div class="col-sm-4">
                    <img src="{{ image.filename | imagine_filter('product_edit_filter') }}"
                         height="80"
                         width="80"
                         alt="{{ image.alt }}">
                    <button class="btn btn-info btn-xs image-zoom-in" type="button"
                            aria-haspopup="true"
                            aria-expanded="true" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <ul class="dropdown-menu form-group">
                        <li>
                            <img src="{{ image.filename | imagine_filter('original_filter') }}" alt="">
                        </li>
                    </ul>
                    <button class="btn btn-danger btn-xs image-remove"
                            type="button"
                            data-image_id="{{ loop.index0 }}"
                            data-toggle="tooltip"
                            title="Удалить">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <input title="Главная картинка"
                           data-toggle="tooltip"
                           type="radio" {{ image.isMain?'checked="checked"':'' }}
                           name="main_image"
                           value="product_images_{{ loop.index0 }}_isMain"
                           class="image-is-main"
                    />
                </div>
            {% endfor %}
            <div class="col-sm-4 hidden" data-type="prototype">
                <img src=""
                     height="80"
                     width="80"
                     alt="">
                <button class="btn btn-info btn-xs image-zoom-in" type="button"
                        aria-haspopup="true"
                        aria-expanded="true" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
                <ul class="dropdown-menu form-group">
                    <li>
                        <img src="" alt="">
                    </li>
                </ul>
                <button class="btn btn-danger btn-xs image-remove"
                        type="button"
                        data-image_id="__name__"
                        data-toggle="tooltip"
                        title="Удалить">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <input title="Главная картинка"
                       data-toggle="tooltip"
                       type="radio"
                       name="main_image"
                       value=""
                       class="image-is-main"
                />
            </div>
        </div>
        <div class="image-form">
            {% for imageFields in form.images %}
                <div data-index="{{ loop.index0 }}">
                    {{ form_widget(imageFields.filename) }}
                    {{ form_widget(imageFields.isMain) }}
                </div>
            {% endfor %}
            <div class="hidden" data-index="__name__" data-type="prototype">
                <input id="__empty__product_images___name___filename"
                       name="__empty__product[images][__name__][filename]" class="form-control" value="" type="hidden">
                <input id="__empty__product_images___name___isMain" name="__empty__product[images][__name__][isMain]"
                       class="form-control" value="" type="hidden">
            </div>
        </div>
        <div class="row history_edit">
            <div class="col-md-12">
                <h1>История изменений</h1>
                {% for history in historyLogs %}
                    <div class="well well-sm">
                        <img src="{{ history.user.avatarImage }}" height="30" alt="" class="pull-left">
                        <span class="label label-info pull-right">{{ history.createdAt|date }}</span>
                        <h5>
                            <a href="{{ path('experts_detail', {'username': history.user.username}) }}">{{ history.user.fullName }}</a>
                        </h5>
                        <p>{{ history.text }}</p>
                    </div>
                {% endfor %}
                {{ knp_pagination_render(historyLogs) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block similar_products %}{% endblock %}

{% block form_end_block %}{{ form_end(form) }}{% endblock %}
