{% extends ':Product:detailPart.html.twig' %}
{% block form_start_block %}
    {% form_theme form 'Form/form_product_edit.html.twig' %}

    {{ form_start(form) }}
{% endblock %}
{% block edit_buttons_label %}
    <a class="btn btn-default" href="{{ path("product_detail", {"slug": product}) }}">Просмотр</a>
    {{ form_widget(form.save) }}
    {{ form_widget(form.publish, {'attr':{'class': is_granted('PUBLISH', product)?'':'disabled'}}) }}
{% endblock %}
{% block notifications %}
    {% if product.reservedAt %}
        <span class="label label-info">До окончания резервирования осталось {% transchoice product.daysLeft %}
            %count% день|%count% дня|%count% дней
            {% endtranschoice %}</span>
    {% endif %}
    {% for flash_message in app.session.flashbag.get('flash.expertise.message') %}
        <span id="flash_{{ loop.index }}" class="label label-success">{{ flash_message }}</span>
        <script type="text/javascript">setTimeout(function () {
                $('#flash_{{ loop.index }}').remove()
            }, 5000)</script>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('flash.expertise.error_message') %}
        <span id="flash_error_{{ loop.index }}" class="label label-danger">{{ flash_message }}</span>
        <script type="text/javascript">setTimeout(function () {
                $('#flash_error_{{ loop.index }}').remove()
            }, 5000)</script>
    {% endfor %}
{% endblock %}

{% block ratings %}
    {% set rating_list = [form.rating1, form.rating2, form.rating3, form.rating4] %}

    {% set rating_labels = [product.category.ratingSettings.rating1label,
    product.category.ratingSettings.rating2label,
    product.category.ratingSettings.rating3label,
    product.category.ratingSettings.rating4label] %}
    {% for rating in rating_list %}
        <li class="media">
            <span class="pull-right">
            <span style="padding: 10px; font-size: 1.4em;">{% block rating_value %}{{ form_widget(rating) }}{% endblock %}</span>
            </span>

            <div class="media-body">
                <div class="media-heading">{{ rating_labels[loop.index0] }}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ rating.vars.value }}"
                         aria-valuemin="0" aria-valuemax="100" style="width: {{ rating.vars.value }}%">
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
{% endblock %}

{% block advantages %}
    {% for advantage in form.advantages %}
        <li>{{ form_widget(advantage) }}
            <button data-type="remove" class="btn btn-error label label-danger" type="button">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </li>
    {% endfor %}
    <li>
        <button data-type="add" data-prototype="<li><input name='product[advantages][]' required='required' class='form-control' type='text'>
        <button data-type='remove' class='btn btn-error label label-danger' type='button'>
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </li>" class="btn btn-success" type="button">Добавить
        </button>
    </li>
{% endblock %}
{% block disadvantages %}
    {% for disadvantage in form.disadvantages %}
        <li>{{ form_widget(disadvantage) }}
            <button data-type="remove" class="btn btn-error label label-danger" type="button">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </li>
    {% endfor %}
    <li>
        <button data-type="add" data-prototype="<li><input name='product[disadvantages][]' required='required' class='form-control' type='text'>
        <button data-type='remove' class='btn btn-error label label-danger' type='button'>
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </li>" class="btn btn-success" type="button">Добавить
        </button>
    </li>
{% endblock %}
{% block expert_opinion %}
    <h3>{{ form_label(form.expertOpinion) }}</h3>
    {{ form_widget(form.expertOpinion, {'attr':{'rows':20}}) }}
    <h3>{{ form_label(form.expertComment) }}</h3>
    {{ form_widget(form.expertComment, {'attr':{'rows':7}}) }}
{% endblock %}
{% block characteristics %}
    {% for fields in form.productCharacteristics %}
        <div data-index="{{ loop.index0 }}" data-type="characteristic" class="row form-group">
            <div class="col-sm-6">{{ form_widget(fields.characteristic) }}</div>
            <div class="col-sm-5">{{ form_widget(fields.value) }}</div>
            <div class="col-sm-1">
                <button data-type="remove-ch" class="btn btn-error btn-danger" type="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-success" data-type="add-ch" type="button">Добавить</button>
{% endblock %}
{% block form_comment_block %}{% endblock %}
{% block similar_products %}{% endblock %}

{% block form_end_block %}{{ form_end(form) }}{% endblock %}
