    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("homepage") }}">Главная</a>
            {% if productFilter.peopleGroup.slug != constant('AppBundle\\ProductFilter\\ProductFilter::PEOPLE_GROUP_ALL') %}
                → <a href="{{ path("product_list", {"slug": category.slug, 'peopleGroup':productFilter.peopleGroup.slug}) }}">{{ productFilter.peopleGroup.slug }}</a>
            {% endif %}
            {{ breadcrumbs(category, productFilter.peopleGroup.slug)|raw }}
        </div>
        <h1>{{ category.name }} - рейтинг по мнению экспертов</h1>
        {% if is_granted('EDIT', category) %}
            <a href="{{ path('category_admin_categories', {'slug': category.slug}) }}" class="btn btn-info">Редактировать</a>
        {% endif %}

        {% block children %}
            <div class="category-child">
                {% for category_child in category.children %}
                    <a href="{{ path("product_list", {"slug": category_child.slug, "peopleGroup": productFilter.peopleGroup.slug}) }}" class="btn btn-success btn-xs">{{ category_child.name }}</a>
                {% endfor %}
            </div>
        {% endblock %}
        {% block rubric_filter %}
            <div class="rubric-filters">
                <div class="btn-group">
                    {{ include('_include/sortMenu.html.twig') }}
                </div>


                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input name="options" id="option1" type="radio"> <span class="glyphicon glyphicon-th-large"></span>
                    </label>
                    <label class="btn btn-primary">
                        <input name="options" id="option2" type="radio"> <span class="glyphicon glyphicon-th-list"></span>
                    </label>
                </div>

                <div class="btn-group">
                    {% if is_granted('SHOW_FREE', category) %}
                        <a href="{{ path('product_list', {'slug':category.slug, 'peopleGroup': productFilter.peopleGroup.slug, 'status': productFilter.status == 'free'?null:'free'}) }}"
                           class="btn btn-info {{ productFilter.status == constant('AppBundle\\ProductFilter\\ProductFilter::STATUS_FREE')?'active':'' }}">Посмотреть свободные товары</a>
                    {% endif %}
                    {% if is_granted('SHOW_WAIT', category) %}
                        <a href="{{ path('product_list', {'slug': category.slug, 'peopleGroup': productFilter.peopleGroup.slug, 'status': productFilter.status == 'wait'?null:'wait'}) }}"
                           class="btn btn-info {{ productFilter.status == constant('AppBundle\\ProductFilter\\ProductFilter::STATUS_WAIT')?'active':'' }}">Смотреть ожидающие подтверждения</a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {{ knp_pagination_render(pagination) }}

        <div class="rubric-wrapper">
            <div class="recommend-products p-stikers" style="margin-bottom: 40px;">
                <ul>
                    {% for product in pagination %}
                        {{ include("_include/Product/_itemList.twig") }}
                    {% endfor %}
                </ul>
            </div>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>