    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("homepage") }}">Главная</a>
            {{ breadcrumbs(category)|raw }}
        </div>
        <h1>{% if category.seo.h1|default(false) %} {{ category.seo.h1 }} {% else %}{{ category.name }} - рейтинг по мнению экспертов{% endif %}</h1>
        {% if is_granted('EDIT', category) %}
            <a href="{{ path('category_admin_categories', {'slug': category.slug}) }}" class="btn btn-info">Редактировать</a>
        {% endif %}

        {% block children %}
            <div class="category-child">
                {% for category_child in category.children %}
                    {% if not category_child.isHidden %}
                        <a href="{{ path("product_list", {"slug": category_child.slug}) }}">{{ category_child.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
        {% block rubric_filter %}
            <div class="rubric-filters">
                <div class="btn-group">
                    {{ include('_include/sortMenu.html.twig') }}
                </div>


                <div class="btn-group" data-toggle="buttons">
                    <a class="btn btn-primary {{ productFilter.listType == 'icon'?'active':'' }}"
                    href="{{ path('product_list', {'slug':category.slug, 'listType': 'icon'}) }}">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                    <a class="btn btn-primary {{ productFilter.listType == 'line'?'active':'' }}"
                    href="{{ path('product_list', {'slug':category.slug, 'listType': 'line'}) }}">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </div>

                <div class="btn-group">
                    {% if is_granted('VIEW_FREE', category) %}
                        <a href="{{ path('product_list', {'slug':category.slug, 'status': productFilter.status == 'STATUS_FREE'?'STATUS_ALL':'STATUS_FREE'}) }}"
                           class="btn btn-info {{ productFilter.status == 'STATUS_FREE'?'active':'' }}">Посмотреть свободные товары</a>
                    {% endif %}
                    {% if is_granted('VIEW_WAIT', category) %}
                        <a href="{{ path('product_list', {'slug': category.slug, 'status': productFilter.status == 'STATUS_WAIT'?'STATUS_ALL':'STATUS_WAIT'}) }}"
                           class="btn btn-info {{ productFilter.status == 'STATUS_WAIT'?'active':'' }}">Смотреть ожидающие подтверждения</a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {{ knp_pagination_render(pagination) }}

        <div class="rubric-wrapper">
            <div class="recommend-products p-stikers" style="margin-bottom: 40px;">
                {% if productFilter.listType == 'icon' %}
                    <ul>
                        {% for product in pagination %}
                            {{ include("_include/Product/_itemList.twig") }}
                        {% endfor %}
                    </ul>
                {% elseif productFilter.listType == 'line' %}
                    <div class="panel-group">
                        {% for product in pagination %}
                            {{ include("_include/Product/_itemLineList.twig") }}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>