{% extends 'layout.html.twig' %}
{% block body_type %}product{% endblock %}
{% block content %}
    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="/rubric/aaa/">Бытовая техника</a> →
            <a href="/rubric/aaa/">Пылесосы</a> →
        </div>

        <h1>{{ product.name }}</h1>

        <div class="expert-wrapper">
            <div class="expert-img-wrapper">
                <img src="{{ product.expertUser.avatarImage }}">
            </div>
            <div class="expert-name">
                Экспертное мнение
                <span>{{ product.expertUser.fullName }}</span></div>
        </div>

        <div class="carousel-wrapper" style="width: 300px; height: 300px; float: left">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"
                            class="{{ image.isMain ? 'active':'' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in product.images %}
                        <div class="item {{ image.isMain ? 'active':'' }}">
                            <div class="img-wrapper" style="background-image: url({{ image.filename }});"></div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                            class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                            class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>


        <div class="rating-wrapper">

            <ul class="media-list">
                <li class="media">
                <span class="pull-right">
                    <span class="main-label">{{ product.rating }}</span>
                </span>

                    <div class="media-body">
                        <h3>Общая оценка</h3>
                    </div>
                </li>
                <li class="media">
                <span class="pull-right">
                    <span style="padding: 10px; font-size: 1.4em;">{{ product.rating1 }}</span>
                </span>

                    <div class="media-body">
                        <div class="media-heading">{{ product.category.ratingLabel.rating1 }}</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{ product.rating1 }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ product.rating1 }}%">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media">
                <span class="pull-right">
                    <span style="padding: 10px; font-size: 1.4em;">{{ product.rating2 }}</span>
                </span>

                    <div class="media-body">
                        <div class="media-heading">{{ product.category.ratingLabel.rating2 }}</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{ product.rating2 }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ product.rating2 }}%">
                                <span class="sr-only">{{ product.rating2 }}% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media">
                <span class="pull-right">
                    <span style="padding: 10px; font-size: 1.4em;">{{ product.rating3 }}</span>
                </span>

                    <div class="media-body">
                        <div class="media-heading">{{ product.category.ratingLabel.rating3 }}</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{ product.rating3 }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ product.rating3 }}%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media">
                <span class="pull-right">
                    <span style="padding: 10px; font-size: 1.4em;">{{ product.rating4 }}</span>
                </span>

                    <div class="media-body">
                        <div class="media-heading">{{ product.category.ratingLabel.rating4 }}</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{ product.rating3 }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ product.rating3 }}%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div style="margin-bottom: 20px;">

            <div class="plus-wrapper">
                <div style="padding: 0 0 0 20px;">
                    <h3>Достоинства</h3>
                    <ul>
                        {% for advantage in product.advantages %}
                            <li>{{ advantage }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="minus-wrapper">
                <h3>Недостатки</h3>
                <ul>
                    {% for disadvantage in product.disadvantages %}
                        <li>{{ disadvantage }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div style="clear: both"></div>

        <div class="tabs-wrapper">

            <div class="tabs-container">
                <div class="tabs-container-inner clearfix">

                    <ul class="nav nav-tabs" style="clear: both">
                        <li class="active"><a href="#test" data-toggle="tab">Заключение</a></li>
                        <li><a href="#props" data-toggle="tab">Характеристики</a></li>
                        <li><a href="#maintainer" data-toggle="tab">Изготовитель</a></li>
                        <li><a href="#comments" data-toggle="tab">Отзывы</a></li>
                        <li><a href="#buy" data-toggle="tab">Где купить</a></li>
                    </ul>

                    <div class="tabs-content">
                        <div class="tab-pane fade active in" id="test">
                            {{ product.expertOpinion | raw }}
                        </div>
                        <div class="tab-pane fade" id="buy">
                            <h3>Где купить</h3>
                            <table class="where-by">
                                <tbody>
                                {% for productShopPrice in product.productShopPrices %}
                                    <tr>
                                        <td><img src="{{ productShopPrice.shop.image }}"></td>
                                        <td><a href="">{{ productShopPrice.shop.name }}</a></td>
                                        <td>{{ productShopPrice.price }} <span
                                                    class="sign_ruble">p<span>уб.</span></span></td>
                                        <td><a class="btn btn-primary btn-md" role="button"><span
                                                        class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="comments">
                            <h3>Отзывы покупателей</h3>

                            <div class="comments-summary">3 отзыва
                                <span class="comments-summary-plus"><span class="glyphicon glyphicon-thumbs-up"></span> 2</span>&nbsp;
                                <span class="comments-summary-minus"><span
                                            class="glyphicon glyphicon-thumbs-down"></span> 1</span>

                                <a class="btn btn-primary btn-md" style="float:right" role="button"><span
                                            class="glyphicon glyphicon-comment"></span> Написать отзыв</a>
                            </div>
                            <ul class="comments">
                                {% for feedback in product.feedbacks %}
                                    <li class="comment-wrapper">
                                        <h4>{{ feedback.fullName }}</h4>

                                        <div class="comment-content">
                                            <h5>Достоинства</h5>

                                            <div>{{ feedback.advantages }}</div>
                                            <h5>Недостатки</h5>

                                            <div>{{ feedback.disadvantages }}</div>
                                            <h5>Комментарии</h5>

                                            <div>{{ feedback.comment }}</div>
                                        </div>
                                        <div class="comment-date">{{ feedback.createdAt|date('d.m.Y') }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="props">
                            <div id="props-wrapper">
                                <h2 class="props-title">Характеристики</h2>
                                {{ productCharacteristics(product.productCharacteristics)|raw }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="maintainer">
                            <h3>Изготовитель</h3>

                            <div class="logo-wrapper" style="float: left; height: 200px; margin-right: 30px;">
                                <img src="{{ product.manufacturer.image }}">
                            </div>
                            <div>
                                <h4>{{ product.manufacturer.name }}</h4>

                                <div class="maintainer-text">
                                    {{ product.manufacturer.description }}
                                </div>
                                <div><a href="">Отзывы</a> 0 | <a href="">Товары</a> 309</div>

                            </div>
                        </div>
                    </div>

                    <div class="comments-wrapper">
                        <a name="comments"></a>

                        <h3>Обсуждение товара</h3>
                        <ul>
                            {% for comment in product.comments %}
                                <li class="comment-item">
                                    <div class="comment-date">
                                        {{ comment.createdAt|date }}
                                    </div>
                                    <div class="comment-author">
                                        {{ comment.fullName }}
                                    </div>
                                    <div class="comment-text">
                                        {{ comment.message }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="comment-form-wrapper">
                            <h4>Оставьте комментарий о продукте {{ product.name }}</h4>
                            {% form_theme formComment '/Form/form_comment_custom_layout.html.twig' %}
                            {{ form(formComment) }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="sidebar-left">
                <div class="price-from">
                    Цена от: {{ product.minPrice }} <span class="sign_ruble">p<span>уб.</span></span>
                </div>
                <div class="block similar-tovar-wrapper">
                    <div class="content">
                        <h3>Похожие товары</h3>
                        <ul class="links-wrapper">
                            <li class="links-item">
                                <a href="">
                                    <img src="/images/link1.jpg">

                                    <div class="link-title">Пылесос Thomas TWIN TT Aquafilter</div>
                                </a>
                            </li>
                            <li class="links-item">
                                <a href="">
                                    <img src="/images/link2.jpg">

                                    <div class="link-title">Пылесос Philips FC 9150</div>
                                </a>
                            </li>
                            <li class="links-item">
                                <a href="">
                                    <img src="/images/link3.jpg">

                                    <div class="link-title">Пылесос Bosch BSG 61800</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}