{% extends "::layout.html.twig" %}
{% block body_type %}expert{% endblock %}

{% block content %}
    <div class="content-inner clearfix">
        <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html">
            <a href="{{ path("experts_list") }}">Наши эксперты</a> →
        </div>
        <h1>{{ expert.fullName }}</h1>

        <div class="expert-page-wrapper">
            <div class="expert-item">
                <div class="expert-img-wrapper">
                    {{ include("_include/User/_imageList.html.twig", {'expert': expert}) }}
                </div>
                <div class="expert-name">
                    {{ expert.caption }}
                    {% if expert.curator %}
                        <div class="level2">
                            <div class="expert-img-wrapper">
                                {{ include("_include/User/_imageList.html.twig", {'expert': expert.curator}) }}
                            </div>
                            <div class="expert-name">
                                <a href="{{ path("experts_detail", {"username": expert.curator.username}) }}"><span>{{ expert.curator.fullName }}</span></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('DETAIL_VIEW', expert) %}
                {{ render(controller('AppBundle:Expert:detailView', {'expert': expert})) }}
            {% endif %}
            {% if is_granted('ADD_ROLE_CURATOR', expert) %}
                <div class="btn-group"><a href="{{ path('invite_approve_rights', {'username': expert.username}) }}"
                                          class="btn btn-info">Сделать куратором</a></div>
            {% endif %}
            {% if expert.hasRole('ROLE_EXPERT_CURATOR') %}
                <span class="label label-info">Куратор</span>
            {% endif %}
            {% for flash_message in app.session.flashbag.get('flash.approved_rights') %}
                <div class="alert alert-success">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ flash_message }}</li>
                    </ul>
                </div>
            {% endfor %}

            <div class="tabs-wrapper">
                <div class="tabs-container">
                    <div class="tabs-container-inner clearfix">

                        <ul class="nav nav-tabs" style="clear: both">
                            <li class="active"><a href="#profile" data-toggle="tab">Профиль</a></li>
                            <li><a href="#comments" data-toggle="tab">Заключения</a></li>
                        </ul>

                        <div class="tabs-content">
                            <div class="tab-pane fade active in" id="profile">
                                <div class="profile-block">
                                    <div class="profile-title">Информация</div>
                                    <div class="data-list">
                                        {% if expert.birthday %}
                                            <div class="item">
                                                <div class="key">
                                                    <span class="d_text">Возраст </span>
                                                    <span class="d_line"></span>
                                                </div>
                                                <div class="value">
                                                    {% transchoice expert.age %}
                                                    %count% год|%count% года|%count% лет
                                                    {% endtranschoice %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="item">
                                            <div class="key">
                                                <span class="d_text">Город </span>
                                                <span class="d_line"></span>
                                            </div>
                                            <div class="value">
                                                {{ expert.city|default('Не указан') }}
                                            </div>
                                        </div>
                                        {% if is_granted("DETAIL_VIEW", expert) %}
                                            <div class="item">
                                                <div class="key">
                                                    <span class="d_text">Skype </span>
                                                    <span class="d_line"></span>
                                                </div>
                                                <div class="value">
                                                    {{ expert.skype|default('не указан') }}
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="key">
                                                    <span class="d_text">Телефон </span>
                                                    <span class="d_line"></span>
                                                </div>
                                                <div class="value">
                                                    {{ expert.phone|default('не указан') }}
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="key">
                                                    <span class="d_text">Email </span>
                                                    <span class="d_line"></span>
                                                </div>
                                                <div class="value">
                                                    {{ expert.email }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="comments">
                                <ul class="comments">
                                    {% for product in expertOpinions %}
                                        <li class="comment-wrapper">
                                            <h4>{{ product.name }}</h4>

                                            <div class="comment-content">
                                                <h5>Достоинства</h5>

                                                <div>{% for advantage in product.advantages %}{{ advantage }} {% endfor %}
                                                </div>
                                                <h5>Недостатки</h5>

                                                <div>{% for disadvantage in product.disadvantages %}{{ disadvantage }} {% endfor %}</div>
                                                <h5>Комментарии</h5>

                                                <div>{{ product.expertComment }}
                                                </div>
                                            </div>
                                            <div class="comment-date">{{ product.enabledAt|date('d.m.Y') }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}