{% extends 'Profile/user.html.twig' %}
{% block title %}Экспертные мнения ожидающие одобрения{% endblock %}
{% block body_type %}rubric{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path("curator_wait_list") }}">Экспертные мнения ожидающие одобрения</a>
{% endblock %}
{% block profile_body %}
    {{ include("Curator/wait_listPart.html.twig") }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" async="async" src="{{ asset('js/list.js') }}"></script>
{% endblock %}
