{% extends 'Profile/user.html.twig' %}
{% block title %}Экспертные мнения ожидающие одобрения{% endblock %}
{% block body_type %}rubric{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    → <a href="{{ path("curator_wait_list") }}">Экспертные мнения ожидающие одобрения</a>
{% endblock %}
{% block profile_body %}
    {{ include("Curator/wait_listPart.html.twig") }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@curator_wait_list_js' output='bundles/js/*' %}
        <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
