{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Выберите категории</h1>
            <div class="well" id="jstree"></div>
        </div>
        <div class="col-md-6">
            <h1>Заполните форму</h1>
            <div class="well">
                {% for flash_message in app.session.flashbag.get('flash.registration_request_sended') %}
                    <div class="alert alert-success">
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ flash_message }}</li>
                        </ul>
                    </div>
                {% endfor %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/external/themes/default/style.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Bridge.js_tree_data = [
            {{ include("_include/Category/_jsTree.json.twig", {"category": null}) }}
        ];
    </script>
    {% javascripts '@want_to_become_expert_request_js' output='bundles/js/want_to_become_expert_request.js' %}
    <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}