<div class="col-md-offset-8">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <img class="avatar-img" src="{{ app.user.avatarImage|default('/images/default_user.png')|imagine_filter('user_list_filter') }}" alt="">Личный кабинет ({{ app.user.username }}) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="{% if path('experts_detail', {'username': app.user.username}) in app.request.uri %}active{% endif %}"><a href="{{ path('experts_detail', {'username': app.user.username}) }}">
                    Профиль
                </a></li>
            <li class="{% if path('experts_detail_edit', {'username': app.user.username}) in app.request.uri %}active{% endif %}"><a href="{{ path('experts_detail_edit', {'username': app.user.username}) }}">
                    Редактировать
                </a></li>
            <li class="{% if path('invite') in app.request.uri %}active{% endif %}"><a href="{{ path('invite') }}">
                    Пригласить эксперта
                </a></li>
            <li class="{% if path('expert_categories') in app.request.uri %}active{% endif %}"><a href="{{ path('expert_categories') }}">
                    Доступные категории
                </a></li>
            <li class="{% if path('expert_products_without_category') in app.request.uri %}active{% endif %}"><a href="{{ path('expert_products_without_category') }}">
                    Товары без категории
                </a></li>

            {% if not is_granted("ROLE_EXPERT_CURATOR") %}
                <li class="{% if path('expert_my_pages') in app.request.uri %}active{% endif %}"><a href="{{ path('expert_my_pages') }}">
                        Мои страницы
                    </a></li>
            {% endif %}

            {% if is_granted("ROLE_EXPERT_CURATOR") %}
                <li role="separator" class="divider"></li>
                <li class="{% if path('curator_my_experts') in app.request.uri %}active{% endif %}"><a href="{{ path('curator_my_experts') }}">
                        Мои эксперты
                    </a></li>
                <li class="{% if path('curator_wait_list') in app.request.uri %}active{% endif %}"><a href="{{ path('curator_wait_list') }}">
                        Ожидающие товары
                    </a></li>
                <li class="{% if path('curator_decisions') in app.request.uri %}active{% endif %}"><a href="{{ path('curator_decisions') }}">
                        Все принятые решения
                    </a></li>
            {% endif %}
            {% if is_granted("ROLE_EXPERT_CATEGORY_ADMIN") %}
                <li role="separator" class="divider"></li>
                <li class="{% if path('category_admin_categories') in app.request.uri %}active{% endif %}"><a href="{{ path('category_admin_categories') }}">
                        Доступные категории редактировать
                    </a></li>
                <li class="{% if path('category_admin_requests') in app.request.uri %}active{% endif %}"><a href="{{ path('category_admin_requests') }}">
                        Заявки на регистрацию
                    </a></li>
                <li class="{% if path('category_admin_create_category') in app.request.uri %}active{% endif %}"><a href="{{ path('category_admin_create_category') }}">
                        Создать категорию
                    </a></li>
            {% endif %}
            {% if is_granted("ROLE_MODERATOR") %}
                <li role="separator" class="divider"></li>
                <li class="{% if path('moderator_comments') in app.request.uri %}active{% endif %}"><a href="{{ path('moderator_comments') }}">
                        Новые комментарии
                    </a></li>
                <li class="{% if path('moderator_feedbacks') in app.request.uri %}active{% endif %}"><a href="{{ path('moderator_feedbacks') }}">
                        Новые отзывы
                    </a></li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li role="separator" class="divider"></li>
                <li class="{% if path('admin_experts') in app.request.uri %}active{% endif %}"><a href="{{ path('admin_experts') }}">
                        Список пользователей
                    </a>
                </li>
                <li class="{% if path('admin_import_settings') in app.request.uri %}active{% endif %}"><a href="{{ path('admin_import_settings') }}">
                        Настройки импорта
                    </a>
                </li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{{ path("fos_user_security_logout") }}">Выйти</a></li>
        </ul>
    </div>
</div>
