<a href="{{ path('curator_profile') }}" class="list-group-item {{ a1_current|default('') }}">
    Профиль модератора
</a>
<a href="{{ path('moderator_comments') }}" class="list-group-item {{ a2_current|default('') }}">
    <span class="badge">{{ commentCount }}</span>
    Новые комментарии
</a>
<a href="{{ path('moderator_feedbacks') }}" class="list-group-item {{ a3_current|default('') }}">
    <span class="badge">{{ feedbackCount }}</span>
    Новые отзывы
</a>